<ion-header>

    <custom-logged-header [title]="'User Profile'"></custom-logged-header>

</ion-header>


<ion-content padding>

    <user-info [user]="currentUser"></user-info>

    <button ion-button block (click)="canEdit = !canEdit">Editar</button>
    <form (ngSubmit)="onSubmit($event)" *ngIf="canEdit" #profileForm="ngForm">
        <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            <ion-input type="text" placeholder="Nome" name="nome" [(ngModel)]="currentUser.nome" required minlength="3"></ion-input>
        </ion-item>
         <ion-item>
            <ion-icon name="at" item-left></ion-icon>
            <ion-input type="text" placeholder="Nome usuário" name="nomeusuario" [(ngModel)]="currentUser.nomeusuario" required minlength="3"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="image" item-left></ion-icon>
            <input type="file" accept="image/*" (change)="onPhoto($event)">
        </ion-item>
        <br>
        <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
        <button ion-button block type="submit" [disabled]="profileForm.form.invalid">Salvar</button>
    </form>

</ion-content>
